.review-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.review-card {
    width: 29%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #ccc;
}

@media (max-width: 991px) {
    .review-card {
        width: 45%;
    }
  }

  @media (max-width: 767px) {
    .review-card {
        width: 100%;
    }
  }